/*CSS custom */

main{
  display: flex;
  flex-direction: column;
}

#monform{
  width: 20%;
  border: 1px solid grey;
  padding: 20px;
  margin: 30px;
}

.btn{
  margin: 5px;
}

a{
  margin: 5px;
}

#tableau{
  /*width: 40%;*/
  margin: 30px;
}
