/*CSS custom */

body{
  display: flex;
  flex-direction: row;
}

.form-horizontal{
  width: 20%;
  border: 1px solid grey;
  padding: 20px;
  margin: 30px;
}

.btn{
  margin: 5px;
}

a{
  margin: 5px;
}

.table{
  /*width: 40%;*/
  margin: 30px;
}
